<header id="header">
    page Header
    <ul id="ul_list">
        <% if(locals.user){ %>  <%/*%>because we already set data of sign in user into the locals.user<%*/%>
        <li><%= locals.user.name %></li>
        <li><a href="/users/profile"><%=locals.user.name%>'s profile</a></li>
        <li style="margin-top: -2px; margin-right :-40  px;"><a href="/users/sign-out"><button style="background-color:rgb(232, 171, 93) ;">Sign Out</button></a></li>
        <li style="margin-top: -2px;"><a href="/users/log-out"><button  style="background-color:rgb(232, 171, 93) ;">Delete User     Account</button></a></li>
        <%}else{%>
            <li>
                <a href="/users/sign-in"><button style="background-color: rgb(166, 235, 166);">Sign In</button></a>
            </li>
            <li>
                <a href="/users/sign-up"><button style="background-color: rgb(166, 235, 166);">Sign Up</button></a>
            </li>
            <% } %>
    </ul>
</header>  