<form action="/users/update-password-in-db" method="post">
 <input type="password" name="password" id="" placeholder="password">
 <input type="password" name="confirm_password" id="" placeholder="confirm_password">
 <input type="submit" name="" id="">
</form>