<link rel="stylesheet" href="/css/friends.css">    
<h1>Codeial / <%=title%></h1>     <!--this is called variable part -->  
<section id="feed-posts">
    <%if(locals.a){%>
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" id="" cols="50" rows="4" placeholder="Type here..." required></textarea>
        <input type="submit" name="" id="" value="Post">
    </form>
    <div id="posts-list-container">
            <% for (post of posts) { %>
                <%- include('_post') -%> 
            <% } %>        
    </div>
    <%}%>
</section>

<section id="user-friends">
    <h4>Friends</h4>
    <% for(user of all_users){ %>
        <p>
            <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
        </p>
        <%}%>
</section>