<title><%=locals.title%></title>
<form action="/users/reset-Password-Varification-With-Db" method="post">
 <input type="email" name="email" id="Email" placeholder="Enter email id">
 <input type="submit" name="" id="">
</form>