<link rel="stylesheet" href="../css/user_profile.css">
<h1>Codeial / <%=title%> page</h1>
<p>Name:<%=user.name%></p>
<p>Email:<%=user.email%></p> 
<!--changes is only in variable part and layout part is fix-->