<img src="https://img.freepik.com/premium-photo/desktop-source-code-wallpaper-by-computer-language-with-coding-programming_33771-595.jpg?w=2000" alt="img_coding">
<div>
    <h2>Maulik's Codeial Development</h2>
    <p>Hi <%=comment.user.name%>!</p>
    <br>
    <br>
    <p>Your Comment <strong><%=comment.content%></strong> just published on codeial.</p>
    <br>
    <br>
    <p>Thanks!</p>
    <footer style="color: rgb(175, 197, 216);">Don't reply on this Mail This is Auto Generated Mail</footer>
</div>