body{
    text-align: center;
        position: absolute;
        top: 15%;
        left:40%;
        border: 2px solid red;
        width: 80%;
        height: 120px;
        background-color: rgb(255, 228, 194);
        transform: translate(-50%, -50%);
}
#ul_list
{
    background-color: rgb(108, 255, 209);
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
