<img src="https://img.freepik.com/premium-photo/desktop-source-code-wallpaper-by-computer-language-with-coding-programming_33771-595.jpg?w=2000" alt="img_coding" width="100%" height="10%">
<div>
    <h2>Maulik's Codeial Development</h2>
    <p>Hi <%=newToken.user.name%>!</p>
    <br>
    <br>
    <p><a href="/users/create-new-password/<%=newToken.accessToken%>">Update password</a></p>
    <br>
    <br>
    <p>Thanks!</p>
    <footer style="color: rgb(175, 197, 216);">Don't reply on this Mail This is Auto Generated Mail</footer>
</div>